@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ecf2fa;
}

.transisi {
  @apply transition-all duration-300 ease-out;
}
* {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-lexend);
}
